name: ansible-lint
on:
  push:
    branches: ["master"]
  pull_request:
jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25
#        with:
#          requirements_file: "requirements.yml"
